/* Gaya dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    position: relative;
    background: url('bgkel.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: moveBackground 20s linear infinite; /* Animasi gerak pada gambar latar */
}

/* Animasi untuk gambar latar belakang */
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

/* Teks EdgeCoffee tersebar secara acak */
body::before {
    content: "EdgeCoffee";
    position: absolute;
    top: 10%; /* Posisi acak */
    left: 30%; /* Posisi acak */
    font-size: 3rem; /* Ukuran font */
    color: rgb(131, 69, 41);
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1;
    animation: moveText 20s linear infinite, randomPosition 10s infinite; /* Animasi teks yang bergerak */
}